section {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #44535a !default;
  $light-gray: #2e3333 !default;
  $medium-screen: em(640) !default;
  $base-font-color: $light-gray !default;
  $serif: "adobe-garamond-pro", serif;
  $sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;


  @include clearfix;
  font-family: $serif;
  text-align: left;

  h1, h2, h3, p {
    margin: 0;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
    width: 100%;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $action-color;
    text-decoration: none;
  }

  .title {
    color: $base-font-color;
    font-family: $serif;
    display: block;
    font-size: 3em;
    font-weight: 800;
    padding: 0 0 .4em 0;
    text-align: center;
  }

  h1 {
    color: $base-font-color;
    font-family: $serif;
    display: block;
    font-size: 3em;
    font-weight: 800;
    padding: .4em 0;
    text-align: center;

    @include media($mobile) {
      font-size: 2.5em;
    }
  }

  h2 {
    font-family: $sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: .9em;

    @include media($medium-screen) {
      font-size: 1.5em;
    }
  }

  code {
    font-size: 0.75em;
    font-style: normal;
  }

  h2 code {
    font-size: 0.65em;
  }

  h3 {
    font-family: $sans-serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.4em;
  }

  p.subtitle {
    color: transparentize($base-font-color, 0.6);
    font-family: $sans-serif;
    font-style: italic;
    margin-bottom: .3em;
    font-size: 0.95em;
    margin-top: 0.6em;
  }

  p {
    font-family: $serif;
    letter-spacing: 1;
    line-height: 1.55em;
    margin-bottom: 1.5em;

    span {
      font-family: $sans-serif;
      font-size: 1.2em;
      font-style: italic;
    }
  }

   .type {
    border-bottom: 2px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 1em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase;
  }

  span.subtle {
    float: right;
    font-family: $sans-serif;
    font-size: .9em;
    font-weight: 200;
    margin-bottom: 1em;
    padding: 0;
    text-align: right;
    text-transform: uppercase;
    color: darken($light-gray, 20%);
  }

  a.link {
    display: inline-block;
    font-family: $serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-family: $serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px;
    }
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $sans-serif;
    font-size: 1.2em;
    font-style: italic;
  }
}
