@charset "utf-8";

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "type";
@import "font-awesome/font-awesome";
@import "variables";
@import "syntax_highlighting";
@import "post";
@import "about";
@import "footer";

body, html {
  color: $soft-black;
  background: #ddd;
  a {
    color: $soft-black;
    text-decoration: underline;
  }

  a:hover {
    color: darken($soft-black, 80%);
  }
}

wrapper {
  @include outer-container;
}

div.wrapper-for-content-outside-of-footer {
  min-height: 100%;
  height: auto !important;
  overflow: auto;
  height: 100%;
  margin: 0 auto -4em;
  background: $soft-white;
  padding-bottom: 50px;
}

.wrapper-for-content-outside-of-footer:after {
  content: "";
  display: block;
}

.header {
  @include span-columns(12);
  min-height: 30px;

  // Positioning context for the mobile navigation icon
  position: relative;
  padding-top: 80px;

  @include media($mobile) {
    padding-top: 30px;
  }
}

.page {
  @include span-columns(6);
  @include shift(3);
  padding: 20px 20px 40px 30px;

  @include media($mobile) {
    @include omega();
    @include span-columns(4);
    @include shift(0);
  }

  h1 { padding-bottom: 40px;
    text-align: left;
  }

  h2.posts {
    padding-top: 80px;
    text-align: center;
  }
}



