@charset "utf-8";

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "type";
@import "font-awesome/font-awesome";
@import "variables";


body {
  color: $soft-black;
  background: $soft-gray;
  a {
    color: $soft-black;
  }

  a:hover {
    color: darken($soft-black, 50%);
    text-decoration: underline;
  }
}

wrapper {
  @include outer-container;
}

section {
  background: $soft-white;

  .header {
    @include span-columns(12);

    border-top: 8px solid  $soft-gray;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    padding-top: 60px;
  }

  .profile-picture {
    background: center no-repeat;
    @include retina-image("andrew" , 200px);
    height: 200px;
    width: 200px;
    @include border-top-radius(50%);
    @include border-right-radius(50%);
    @include border-bottom-radius(50%);
    @include border-left-radius(50%);
    margin: 0 auto;
    margin-top: 64px;
  }
}

.paragraph {
  @include span-columns(6);
  @include shift(3);
  padding: 20px 20px 70px 30px;

  @include media($mobile) {
    @include omega();
    @include span-columns(4);
    @include shift(0);
  }

  h1 { padding-bottom: 40px;}
}

.footer {
   @include span-columns(6);
   @include shift(3);

  li {
    text-align: center;
    padding: 0px 0 100px 0;
    @include span-columns(4);
    @include omega(3n);
  }

  .github-icon {
    text-align: right;
    @include media($mobile) {
      text-align: center;
    }
  }
  .twitter-icon {
    text-align: left;
    @include media($mobile) {
      text-align: center;
    }
  }

  @include media($mobile) {
    @include shift(0);
    @include span-columns(4);
    @include omega(3n);
  }

}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
  @include transition (all 0.4s ease-in-out);
  opacity: 1;
}




