section.post {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $base-font-color: $dark-gray !default;
  $serif: "adobe-garamond-pro", serif;
  $sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @include span-columns(8);
  @include shift(2);
  padding: 40px 30px 70px 30px;

  @include media($mobile) {
    @include omega();
    @include span-columns(4);
    @include shift(0);
  }

  hr {
    padding: 20px 0;
    margin: 0 0 40px 0;
    width: 100%;
  }

  h1.post-title {
    padding: 0 60px 1.3em 60px;

  }
}

section.post-index {
  padding: 40px 40px;
  text-align: left;
  li {
    padding: 10px 0px;
  }
}
